.bbody{
    background-color: pink;
    width: 900px;
    margin: 8px 400px;
    padding: 19px 75px;
    font-size: 25px;
    font-family: emoji;

    
}

.buttonCol{
    color: white;
    padding: 7px 30px;
    margin-left: 290px;
    background-color: green;
    font-weight: bold;
}

